.span{
    color: red;
}
.name{
    margin-top: 12px;
    border-radius: 12px;
    height: 35px;
}
.span1{
    color: gray;
}
.date,.time, .pref{
    padding-top: 5px;
}
.chipsc, .spref{
    margin-top: 15px;
}
.datep, .stime{
    margin-top: 15px;
}